[tool.black]
line-length = 100
target-version = ['py39']
include = '\.pyi?$'
extend-exclude = '''
/(
  \.git
  | __pycache__
  | \.venv
  | \.eggs
  | \.mypy_cache
  | \.pytest_cache
  | node_modules
)/
'''

[tool.isort]
profile = "black"
line_length = 100
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
skip_glob = ["*/migrations/*", "*/__pycache__/*", "*/node_modules/*"]
known_first_party = ["core", "business", "app", "dependencies"]
known_third_party = ["pymongo", "langchain", "openai", "anthropic", "numpy", "pandas"]

[tool.pylint.messages_control]
disable = [
    "C0103",  # invalid-name (allow short variable names)
    "C0111",  # missing-docstring (we'll add these separately)
    "R0903",  # too-few-public-methods
    "R0913",  # too-many-arguments
]

[tool.pylint.format]
max-line-length = 100


